* {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

h1{
    background-color: azure;
    
}

img{
    max-height: 100%;
    max-width: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    
    background-color: #DDDDDD;
    
    /*background-color: black;*/
}

#navbar {
    margin-top: 2%;
    height: 60px;
    background-color: coral;
}

ul{
    height: 100%;
    padding: 0px;
    padding-left: 6em;
}

ul li{
    padding-top: 15px;
    height: 45px;
    width: 9em;
    text-align: center;
    float: left;
    display: inline-block;
    background-color: coral;
    font-size: 20px;
}

ul li:hover a{
    color: gray
}


h1{
    text-align: center;
    margin-top: 50px;
}

.event_box{
    overflow: hidden;   
    height: 13em;
    width: 14em;
    background-color: beige;
    margin-left: 4em;
    margin-top: 3em;
    border-radius: 5%;
    
}

.img_box{
    display: block;
    height: 9.5em;
    background-color: azure;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    
}

.text_box{  
    text-align: center;
    padding-top: 1em;
    height: 3.5em;
}















