#frontpage_image{
    background: url('../Images/oslo.png') no-repeat;
    min-height: 450px;
    width: 100%;
    background-size: cover;
    padding-top: 40px;
    
}

* {
    margin: 0px;
    padding: 0px;
}

#frontpage_text {
    align-content: center;
    color:red;
}
