body{background-color: beige; margin-top:0; padding-top: 0;}
#main {
    width: 1378px;
    height: 768px;
    margin-top: 0;
    padding-top: 0;
    
    position: relative;
    background-color:white;
    margin:auto;
  
    
    
}


#side-menu {
    position: relative;
    width: 170px;
    height: 100%;
    background-color: white;
    padding:0px;
    margin:0px;
}

#header {
    height: 10%;
    
    
}

#header-text {
    
    text-align: center;
    padding-top: 20px;
    

}

#header-hr {
    width: 80%;
}

#side {
    position: relative;
    width: 170px;
    height: 100%;
    left:171px;
    
    padding:0px;
    margin:0px;
    bottom:0px;
    position: absolute;
    background-color:#aa0b0b;
}




#google_map {
    height: 100%;
    width: 100%;
    z-index: ;

    
}

#menu {
    line-height: 40px;
    font-size: 17px;
    /*font-weight: bold;*/
    font-family:sans-serif;
}
ul {
    list-style:circle;
}

.circle {
    position: absolute;
    border:1px solid white;
    left:37px;
    background-color:;
    width: 100px;
    height:100px;
    border-radius:10000px;
    background-color:#aa0b0b;
    overflow: hidden;
    
}

#circle1 {
    top:130px;
  
}

#circle2 {
    top:330px;
      border: 3px solid white;
    
}

#circle3 {
    top:530px;
}

#line {
    position: absolute;
    width: 2px;
    opacity: .7;
    height: 100%;
    background-color: white;
    left:86px;
}

.ikon {
    height: 80%;
    position: absolute;
    left:10px;
    bottom:10px;
}

#today {
    width: 100%;
    height: 240px;
    bottom: 0px;
    position: absolute;
}

#todayTekst {
    font-size: 1.5em;
    text-align: center;
    font-family:sans-serif;
}

#today-ul {
    font-size: 14px;
    line-height: 30px;
    list-style: none;
    font-family:sans-serif;
    padding-right: 10px;
    padding-left: 20px;
}

#wrapper {
    position: relative;
    height: 800px;
    width: 1200px;
    
}

#over_map {
    position: absolute;
    top:10px;
    left:10px;
    z-index: 99;
    background-color: red;
   
}
