#wZup{
    font-family: serif;
    font-size: 60px;
    position: fixed;
    top: 250px;
    left: 650px;
}

#circle {
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-width: 5px;
    border-color: aqua;
	border-radius: 50px;
}
